.acrliy {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.32, 1);
    box-shadow: -3px 39px 102px -41px rgba(0, 0, 0, 0.54);
}

#app {
    background: url(https://api.kdcc.cn/img/jump4k.php) center no-repeat fixed;
    background-size: auto 100%;
}

body::scroll-bar-thumb {
    background: transport;
}


@font-face {
    font-family: 'Material Icons';
    src: url('./icons/MaterialIcons-Regular.woff2');
}

.material-icons {
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.mdui-icon, .mdui-icon::before {
    color: inherit;
    font-style: normal;
    line-height: 1.2;
    font-size: 20px;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    vertical-align: middle;
    word-wrap: normal;
    display: inline-block;
    text-align: center top;
}